/* Estilos Gerais */  
*{ 
    font-family: "Roboto", sans-serif; 
}

.navbar {
    background-color: #fff;
    height: 10px;
    margin-top: 5px;
    padding: 15px 15px;
}

.box{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra só na parte inferior */
    padding: 20px;
}

/* Logo */
.logo {
    font-weight: 500;
    color: #FF5555;
    font-size: 24px;
    transition: 0.3s color;
    margin-left: 18%;
    margin-top: 70px;
}

/* Botão de Doação */
.doe-button {
    background-color: #FF5555;
    color: #fff;
    font-size: 15px;
    padding: 4px 15px;
    padding-top: 40px;
    padding-bottom: 10px;
    border-radius: 0px 0px 5px 5px;
    margin-right: 12%;
    text-decoration: none;
    transition: 0.3s background-color;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

.doe-button:hover {
    background-color: #FF5555;
}

/* Toggler do Navbar */
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

/* Links da Navbar */
.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

/* Remove seta do dropdown */
.nav-item.dropdown > .nav-link::after {
    display: none; /* Esconde o ícone de seta */
}

/* Dropdown Menu Inline */
.nav-item.dropdown {
    position: relative;
}

.nav-item .dropdown-menu {
    display: none;
    position: absolute;
    top: 70%; /* Reduzido para aproximar o menu do título principal */
    left: 0;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.nav-item:hover .dropdown-menu {
    display: block; /* Exibe o menu ao passar o mouse */
}

.dropdown-menu .dropdown-item {
    padding: 5px 0;
    color: #666777;
    font-weight: 500;
}

.dropdown-menu .dropdown-item:hover {
    color: #000;
    background: none;
}

/* Para espaçar itens do dropdown */
.dropdown-item {
    display: block;
    padding-left: 20px;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: #FF5555;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before {
        width: 100%;
        visibility: visible;
    }
}

/* Outros estilos */
.container2 {
    text-align: right;
    color: white;
    padding-right: 200px;
    padding-left: 15px;
}

.offcanvas-body {
    margin-right: 1%;
    margin-left: 5%;
}

/* Login Button */
.login-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: #FF5555;
    border-radius: 50%;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px;

    border: 2px solid #FF5555;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.login-button:hover {
    background-color: #FF5555;
    color: white;
}

/* Seção Hero */
.hero-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1 {
    font-size: 1.5em;
}

.hero-section h2 {
    font-size: 1.2em;
}

.container {
    text-align: center;
}

/* Remove seta do dropdown */
.nav-item.dropdown > .nav-link::after {
    display: none; /* Esconde o ícone de seta */
}

*{
    font-family: "Roboto", sans-serif; 
}
.carousel-item{
    height: 32rem;
    background: #000;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
    z-index: 10;
}
.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    background-position: center;
    background-size: cover;
    opacity:0.5;
    z-index: 2;
}
.doeBtn{
    background-color: #FF5555;
        color: #FF5555;
        border: 2px solid #FF5555;
        padding: 16px 30px;
        color: white;
        font-size: 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
        cursor: pointer;
        margin-top: auto;
}
.doeBtn:hover {
    background-color: #ED1C24;
    border: 2px solid #ED1C24;
    color: white;
    font-style: normal;
}

.titulo {
    font-size: 35px !important;
    font-weight: 600;
}
.subtitulo{
    font-size: 20px !important;
    margin-bottom: 3%;
}
.botao{
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-color: #FF5555;
    color: #FF5555;
    font-style: normal;
    padding: 10px 16px;
    font-size: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    cursor: pointer;
    margin-top: 3%;
}
.botao:hover {
    background-color: #FF5555;
    color: #ffffff;
    border: 2px solid #FF5555;
}
.empurrar{
    margin-top: 500px;
    position: relative;
    z-index: 1;
}

/*Condição*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.condicoes {
    max-width: 1100px;
    margin: 0 auto;
    text-align: left;
    padding: 30px;
}
.condicoes h1 {
    font-size: 40px;
    margin: 0 30px 0;
    letter-spacing: 1px;
}
.services {
    display: flex;
    align-items: center;
}
.content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
    padding: 20px;
    transition: all 0.3s ease;
    background-color: #f2f2f2;
    border-radius: 5px 5px 5px 5px;
    height: 500px;
}
.content .icons {
    font-size: 70px;
    margin: 5px 0;
}
.content > * {
    flex: 1 1 100%;
}
.content:hover{
    color: white;
}
.content:hover a{
    border-color: white;
    background: white;
}

.content-1:hover {
    border-color:#FF5555;
    background: #FF5555;
}

.content-1:hover a{
    color: #FF5555
}

.content-2:hover {
    border-color:#FF5555;
    background: #FF5555;
}

.content-2:hover a{
    color: #FF5555
}

.content-3:hover {
    border-color:#FF5555;
    background: #FF5555;
}

.content-3:hover a{
    color: #FF5555
}
.content h2 {
    font-size: 30px;
    margin: 10px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.content p{
    font-size: 15px;
}
.content a{
    margin: 22px 0;
    background: black;
    color: white;
    text-transform: none;
    text-decoration: none;
    border: 1px solid black;
    padding: 15px 0;
    border-radius: 25px;
}
.content a:hover{
    border-radius: 4px;
}
@media (max-width: 900px){
    .services{
        display: flex;
        flex-direction: column;
    }
}

/*Como*/
.atividades {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.atividades h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}
.galeria {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.item-galeria {
    flex: 1;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}
.item-galeria:hover {
    transform: scale(1.05);
}
.item-galeria img {
    width: 100%;
    height: 250px; 
    object-fit: cover;
    border-radius: 5px;
}
/* Efeito de animação para sublinhado */
.item-galeria p {
    margin-top: 10px;
    font-style: italic;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.item-galeria p::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FF5555;
    transition: width 0.3s ease-in-out;
}
.item-galeria p:hover::after {
    width: 100%; 
}



