* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    color: #1D1D1F;
}

/*Perguntas frequentes*/
.faq{
    padding: 30px;
}

.subtitulo-faq{
    color: #313131;
    margin-bottom: 30px;
}
.pergunta{
    margin-top: 15px;
}

.perguntas h4{
    font-size: 20px;
    color: #9A181C;

}
